.channels {
  display: flex;
  max-height: 665px;
  justify-content: space-between;
}

.channels-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  flex-basis: 200px;
}

.channel {
  min-height: 0;
  overflow: hidden;
  font-family: var(--font);
  font-size: 14px;
}

ul {
  text-transform: capitalize;
}

.channel-name {
  text-transform: uppercase;
}

.dirmsg-wrapper {
  display: flex;
}

.channel-window {
  flex-grow: 1;
}

.channel-sidebar {
  flex-basis: 100px;
}