.channels {
  display: flex;
  height: 665px;
  justify-content: space-between;
}

.channels-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #eee;
  flex-basis: 200px;
  align-items: flex-start;
}

.channels-list:first-child {
  padding-top: 16px
}

.channel,
.direct-messages {
  min-height: 0;
  overflow: hidden;
  font-family: var(--font);
  font-size: var(--font-size);
  padding-left: 24px;
}

ul {
  text-transform: capitalize;
  list-style-type: none;
  padding: 0;
}

.list-bullet {
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

li {
  display: flex;
  align-items: center;
  margin-top: 16px
}

.channel-name {
  text-transform: uppercase;
  font-size: 13px;
}

.channel-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.direct-messages {
  border-top: 1px solid #eee;
}

.dirmsg-wrapper {
  display: flex;
  font-family: var(--font);
  font-size: var(--font-size);
  align-items: center;
}

.user-name {
  margin-left: 8px;
}

.add-user {
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 4px 8px;
  font-size: 16px;
}

.channel-window {
  flex-grow: 1;
  border-right: 1px solid #eee;
}

.channel-sidebar {
  flex-basis: 100px;
}