body {
  background-color: #dedee6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewbox {
  width: 1280px;
  height: 720px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
}

.content {
  width: 100%;
}
