.sidebar {
  width: 55px;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.sidebar-menu-link {
  margin-top: 22px;
}

.sidebar-menu-link:first-child {
  margin-top: 0;
}

.sidebar-menu-icon {
  width: 20px;
  height: 20px;
}

.sidebar-arrow {
  margin-top: auto;
  padding: 26px;
  display: flex;
  justify-content: center;
}

.sidebar-arrow-icon {
  width: 10px;
  height: 10px;
}
